@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nunito:wght@300;400;500;600;700&display=swap");
:root {
  --color-primary: #003580;
  --color-primary-light: #0071c2;
  --color-secondary: #febb02;
}
body {
  margin: 0;
  padding: 0;

  font-family: "Nunito", sans-serif;
}
