.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}
.homeTitle {
  width: 1024px;
  font-style: 16px;
  margin-top: -5px;
  margin-bottom: -5px;
}
