.fp {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  gap: 20px;
  margin-bottom: 20px;
}
.fpItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 10px;
}
.fpImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}
.fpName {
  font-weight: bold;
}
.fpCity {
  font-weight: 300;
}
.fpPrice {
  font-weight: 500;
}
.fpRating > button {
  background-color: var(--color-primary);
  padding: 6px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
  font-size: 14px;
  border: none;
}
.fpRating > span {
  font-weight: 500;
  font-size: 14px;
}
