.hotelContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hotelWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  margin-top: 20px;
}
.reserveBtn {
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: var(--color-primary-light);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.hotelTitle {
  font-size: 28px;
}
.hotelAddress {
  font-style: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hotelDistance {
  color: var(--color-primary-light);
  font-weight: 700;
}
.hotelPriceHighlight {
  color: #008009;
  font-weight: 700;
}
.hotelImageWrapper {
  width: 33%;
}
.hotelImg {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.hotelImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.hotelDetails {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}
.hotelDetailsTexts {
  flex: 3;
}
.hotelDesc {
  font-size: 14px;
  margin-top: 20px;
}
.hotelDetailsPrice {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ebf3ff;
  padding: 15px;
}
.hotelDetailsPrice > h1 {
  font-size: 18px;
  color: #555;
}
.hotelDetailsPrice > span {
  font-size: 14px;
}
.hotelDetailsPrice > h2 {
  font-weight: 300;
}
.bookBtn {
  background-color: var(--color-primary-light);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.slider {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
}
.sliderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.sliderImg {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: lightgrey;
  font-size: 35px;
  cursor: pointer;
}
.arrow {
  margin: 20px;
  font-size: 50px;
  color: lightgray;
  cursor: pointer;
  position: absolute;
}
.right-arrow {
  top: 40%;
  right: 40px;
}
.left-arrow {
  top: 40%;
  left: 40px;
}
