.navbar {
  background-color: var(--color-primary);
  height: 50px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  font-family: "Lato";
}
.navBtn {
  margin-left: 20px;
  padding: 6px 10px;
  color: var(--color-primary);
  cursor: pointer;
  font-weight: 500;
}
